@{
    ViewBag.Title = "ERROR: ";
}
<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="govuk-box-highlight">
                <h1 class="bold-large">Unexpected Error</h1>
                <p class="bold-large">An unexpected error has occurred and has been reported to the system administrator</p>
            </div>

                <div class="subsection panel-indent">
                    <div class="bold-small">Please try again later.</div>
                </div>
        </div>
    </div>
</main>
