<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<CustomErrorMessages>
	<!-- On Page Errors -->
	<CustomErrorMessage code="0" title="Something’s gone wrong" description="Please try again later"/>
	<CustomErrorMessage code="310" title="Too many redirects" description="Too many redirects occurred to while attempting authentication." callToAction="Please logout of the system and try again." actionUrl="/Home/LogOut" actionText="Log Out"/>
	<CustomErrorMessage code="400" title="Something’s gone wrong" description="Please try again later"/>
	<CustomErrorMessage code="401" title="Something’s gone wrong" description="Please sign out and sign in again to continue" actionUrl="/Home/LogOut" actionText="Sign in"/>
	<CustomErrorMessage code="403" title="Something’s gone wrong" description="Please use your browser’s ‘Back’ button to return to the previous step"/>
	<CustomErrorMessage code="404" title="We can’t find the page you need" description="Please use your browser’s ‘Back’ button to return to the previous step"/>
	<CustomErrorMessage code="408" title="Something’s gone wrong" description="Please use your browser’s ‘Back’ button to return to the previous step"/>
	<CustomErrorMessage code="429" title="Something’s gone wrong" description="Please try again later"/>
	<CustomErrorMessage code="500" title="Something’s gone wrong" description="Please try again later"/>
	<CustomErrorMessage code="501" title="Something’s gone wrong" description="Please try again later"/>
	<CustomErrorMessage code="1000" title="You’re not signed in properly" description="Please sign out and sign in again to continue" callToAction="Sign out" actionUrl="/Home/logout"/>
	<CustomErrorMessage code="1001" title="You’re not signed in properly" description="Please sign out and sign in again to continue" callToAction="Sign out" actionUrl="/Home/LogOut"/>
	<CustomErrorMessage code="1002" title="You’re not signed in" description="Please sign in to continue" callToAction="Sign in" actionUrl="/Home/Login"/>
	<CustomErrorMessage code="1003" title="Something’s gone wrong" description="Please try again later"/>
	<CustomErrorMessage code="1100" title="You haven’t verified your email address yet" description="Please verify your email address to continue" callToAction="Verify your email address" actionUrl="/Register/Step2"/>
	<CustomErrorMessage code="1101" title="You haven’t verified your email address yet" description="The email we sent you has expired. You’ll need to get a new email to continue" callToAction="Get a new verification email" actionUrl="/Register/Step2"/>
	<CustomErrorMessage code="1102" title="You haven’t verified your email address yet" description="Please check your email and junk mail folder. If you can’t find our email, you can request another one in {remainingTime}"/>
	<CustomErrorMessage code="1103" title="You haven’t verified your email address yet" description="Please check your email and junk mail folder. If you can’t find our email, you can now request another one." callToAction="Get a new verification email" actionUrl="/Register/Step2"/>
	<CustomErrorMessage code="1104" title="We need more information about your organisation" callToAction="Tell us about your organisation" actionUrl="/Register/Step3"/>
	<CustomErrorMessage code="1105" title="We need to send you a PIN in the post to complete your registration" callToAction="Get a PIN to finish your registration" actionUrl="/Register/SendPIN"/>
	<CustomErrorMessage code="1106" title="Your PIN has expired" callToAction="Get a replacement PIN" actionUrl="/Register/SendPIN"/>
	<CustomErrorMessage code="1107" title="Please enter your PIN" description="You need to enter your PIN that we sent in the post to complete your registration. If you haven’t got it yet, you can request another one in {remainingTime}" callToAction="Enter your PIN" actionUrl="/Register/ConfirmPIN"/>
	<CustomErrorMessage code="1108" title="Your PIN has expired" description="The PIN we sent you in the post has expired" callToAction="Get another PIN" actionUrl="/Register/ConfirmPIN"/>
	<CustomErrorMessage code="1109" title="You’re already registered for this service" callToAction="Submit your organisation’s gender pay gap data" actionUrl="/Submit/Step1"/>
	<CustomErrorMessage code="1110" title="You’ve made too many attempts to verify your email address" description="Please sign out and try again in {remainingTime}" actionUrl="/Home/LogOut"/>
	<CustomErrorMessage code="1111" title="You’ve entered the wrong email verification code" description="Please try again using the correct verification code"/>
	<CustomErrorMessage code="1112" title="Something’s gone wrong" description="We need you to tell us about your organisation again" callToAction="Tell us about your organisation" actionUrl="/Register/Step3"/>
	<CustomErrorMessage code="1113" title="You’ve entered the incorrect PIN too many times" description="Sign in again and enter your PIN in {remainingTime}" actionUrl="/Home/LogOut" actionText="Sign out"/>
	<!-- Inline Errors -->

	<CustomErrorMessage code="2000" validator="RegisterViewModel.EmailAddress:Required" displayName="Email address" title="" description="" />
	<CustomErrorMessage code="2001" validator="RegisterViewModel.ConfirmEmailAddress:Required" displayName="Confirm your email address" title="" description="" />
	<CustomErrorMessage code="2002" validator="RegisterViewModel.ConfirmEmailAddress:Compare" displayName="Confirm your email address" title="The email address and confirmation do not match." description="The email address and confirmation do not match." />
	<CustomErrorMessage code="2003" validator="RegisterViewModel.FirstName:Required" displayName="First name" title="" description="" />
	<CustomErrorMessage code="2004" validator="RegisterViewModel.LastName:Required" displayName="Last name" title="" description="" />
	<CustomErrorMessage code="2005" validator="RegisterViewModel.JobTitle:Required" displayName="Job title" title="" description="" />
	<CustomErrorMessage code="2006" validator="RegisterViewModel.Password:Required" displayName="Password" title="" description="" />
	<CustomErrorMessage code="2007" validator="RegisterViewModel.Password:StringLength" displayName="Password" title="The {0} must be at least {2} characters long." description="The {0} must be at least {2} characters long." />
	<CustomErrorMessage code="2008" validator="RegisterViewModel.Password:DataType" displayName="Password" title="" description="" />
	<CustomErrorMessage code="2009" validator="RegisterViewModel.Password:Password" displayName=" 1 lower case character and 1 digit" title="Password must contain at least one upper case" description="Password must contain at least one upper case" />
	<CustomErrorMessage code="2010" validator="RegisterViewModel.ConfirmPassword:Required" displayName="Confirm password" title="" description="" />
	<CustomErrorMessage code="2011" validator="RegisterViewModel.ConfirmPassword:DataType" displayName="Confirm password" title="" description="" />
	<CustomErrorMessage code="2012" validator="RegisterViewModel.ConfirmPassword:Compare" displayName="Confirm password" title="The password and confirmation password do not match." description="The password and confirmation password do not match." />
	<CustomErrorMessage code="2013" validator="OrganisationViewModel.SearchText:Required" displayName="SearchText" title="" description="" />
	<CustomErrorMessage code="2014" validator="OrganisationViewModel.SearchText:StringLength" displayName="SearchText" title="You must enter an employers name or company number between 3 and 100 characters in length" description="You must enter an employers name or company number between 3 and 100 characters in length" />
	<CustomErrorMessage code="2015" validator="CompleteViewModel.PIN:Required" displayName="Enter pin" title="You must enter a PIN code" description="You must enter a PIN code" />
	<CustomErrorMessage code="2016" validator="CompleteViewModel.PIN:Pin" displayName="Enter pin" title="PIN code must contain 6 alpha or numeric characters" description="PIN code must contain 6 alpha or numeric characters" />
	<CustomErrorMessage code="2017" validator="ReturnViewModel.DiffMeanHourlyPayPercent:Required" displayName="Enter the difference in mean hourly rate" title="" description="" />
	<CustomErrorMessage code="2018" validator="ReturnViewModel.DiffMeanHourlyPayPercent:Range" displayName="Enter the difference in mean hourly rate" title="" description="" />
	<CustomErrorMessage code="2019" validator="ReturnViewModel.DiffMedianHourlyPercent:Required" displayName="Enter the difference in median hourly rate" title="" description="" />
	<CustomErrorMessage code="2020" validator="ReturnViewModel.DiffMedianHourlyPercent:Range" displayName="Enter the difference in median hourly rate" title="" description="" />
	<CustomErrorMessage code="2021" validator="ReturnViewModel.DiffMeanBonusPercent:Required" displayName="Enter the difference in mean bonus pay" title="" description="" />
	<CustomErrorMessage code="2022" validator="ReturnViewModel.DiffMeanBonusPercent:Range" displayName="Enter the difference in mean bonus pay" title="" description="" />
	<CustomErrorMessage code="2023" validator="ReturnViewModel.DiffMedianBonusPercent:Required" displayName="Enter the difference in median bonus pay" title="" description="" />
	<CustomErrorMessage code="2024" validator="ReturnViewModel.DiffMedianBonusPercent:Range" displayName="Enter the difference in median bonus pay" title="" description="" />
	<CustomErrorMessage code="2025" validator="ReturnViewModel.MaleMedianBonusPayPercent:Required" displayName="Males who received bonus pay" title="" description="" />
	<CustomErrorMessage code="2026" validator="ReturnViewModel.MaleMedianBonusPayPercent:Range" displayName="Males who received bonus pay" title="" description="" />
	<CustomErrorMessage code="2027" validator="ReturnViewModel.FemaleMedianBonusPayPercent:Required" displayName="Females who received bonus pay" title="" description="" />
	<CustomErrorMessage code="2028" validator="ReturnViewModel.FemaleMedianBonusPayPercent:Range" displayName="Females who received bonus pay" title="" description="" />
	<CustomErrorMessage code="2029" validator="ReturnViewModel.MaleLowerPayBand:Required" displayName="Male" title="" description="" />
	<CustomErrorMessage code="2030" validator="ReturnViewModel.MaleLowerPayBand:Range" displayName="Male" title="" description="" />
	<CustomErrorMessage code="2031" validator="ReturnViewModel.FemaleLowerPayBand:Required" displayName="Female" title="" description="" />
	<CustomErrorMessage code="2032" validator="ReturnViewModel.FemaleLowerPayBand:Range" displayName="Female" title="" description="" />
	<CustomErrorMessage code="2033" validator="ReturnViewModel.MaleMiddlePayBand:Required" displayName="Male" title="" description="" />
	<CustomErrorMessage code="2034" validator="ReturnViewModel.MaleMiddlePayBand:Range" displayName="Male" title="" description="" />
	<CustomErrorMessage code="2035" validator="ReturnViewModel.FemaleMiddlePayBand:Required" displayName="Female" title="" description="" />
	<CustomErrorMessage code="2036" validator="ReturnViewModel.FemaleMiddlePayBand:Range" displayName="Female" title="" description="" />
	<CustomErrorMessage code="2037" validator="ReturnViewModel.MaleUpperPayBand:Required" displayName="Male" title="" description="" />
	<CustomErrorMessage code="2038" validator="ReturnViewModel.MaleUpperPayBand:Range" displayName="Male" title="" description="" />
	<CustomErrorMessage code="2039" validator="ReturnViewModel.FemaleUpperPayBand:Required" displayName="Female" title="" description="" />
	<CustomErrorMessage code="2040" validator="ReturnViewModel.FemaleUpperPayBand:Range" displayName="Female" title="" description="" />
	<CustomErrorMessage code="2041" validator="ReturnViewModel.MaleUpperQuartilePayBand:Required" displayName="Male" title="" description="" />
	<CustomErrorMessage code="2042" validator="ReturnViewModel.MaleUpperQuartilePayBand:Range" displayName="Male" title="" description="" />
	<CustomErrorMessage code="2043" validator="ReturnViewModel.FemaleUpperQuartilePayBand:Required" displayName="Female" title="" description="" />
	<CustomErrorMessage code="2044" validator="ReturnViewModel.FemaleUpperQuartilePayBand:Range" displayName="Female" title="" description="" />
	<CustomErrorMessage code="2045" validator="ReturnViewModel.FirstName:Required" displayName="First name" title="" description="" />
	<CustomErrorMessage code="2046" validator="ReturnViewModel.LastName:Required" displayName="Last name" title="" description="" />
	<CustomErrorMessage code="2047" validator="ReturnViewModel.JobTitle:Required" displayName="Job title" title="" description="" />
	<CustomErrorMessage code="2048" validator="OrganisationViewModel.Address1:MaxLength" displayName="Address1" title="" description="" />
	<CustomErrorMessage code="2049" validator="OrganisationViewModel.Address2:MaxLength" displayName="Address2" title="" description="" />
	<CustomErrorMessage code="2050" validator="OrganisationViewModel.Address3:MaxLength" displayName="Address3" title="" description="" />
  <CustomErrorMessage code="2051" validator="OrganisationViewModel.PostCode:MaxLength" displayName="PostCode" title="" description="" />
  <CustomErrorMessage code="2052" validator="RegisterViewModel.EmailAddress:EmailAddress" displayName="Email address" title="The {0} field is not a valid e-mail address." description="The {0} field is not a valid e-mail address." />
</CustomErrorMessages>