<CustomErrorMessages>
  <CustomErrorMessage code="0" title="Unexpected Error" description="An unexpected error has occured and has been reported to the system administrator." callToAction="Please try again later." default="true"/>
  <CustomErrorMessage code="400" title="Bad Request" description=""/>
  <CustomErrorMessage code="401" title="Access Denied" description="You must first login to the system." actionUrl="~/Home/LogOut" actionText="Log Out"/>
  <CustomErrorMessage code="403" title="Forbidden" description="You do not have permission to access the required resource."/>
  <CustomErrorMessage code="404" title="Page Not Found" description="The requested page could not be found." />
  <CustomErrorMessage code="408" title="Request Timeout" description="The server timed out waiting for the request." />
  <CustomErrorMessage code="429" title="Too many requests" description="The server has received too many requests in the expected time." />
  <CustomErrorMessage code="500" title="Server Error" description="The server encountered an unexpected condition that prevented it from fulfilling the request." />
  <CustomErrorMessage code="501" title="Not Supported" description="The server does not support the functionality required to fulfill the request." />
  <!--Every thing below 1000 is reserved for Http and system errors -->

  <CustomErrorMessage code="1000" title="Unauthorised Request" description="Unrecognised user." callToAction="Please log out of the system." ActionUrl="Home/logout" />
  <CustomErrorMessage code="1001" title="Unauthorised Request" description="You do not have the required permission to access this option." callToAction="Please log in as a user with the correct permissions." ActionUrl="Home/LogOut" />
  <CustomErrorMessage code="1002" title="Login Required" description="You must first login to access this option." callToAction="Next Step: Login to service" ActionUrl="Home/Login" />
  <CustomErrorMessage code="1003" title="Unexpected Error" description="An unexpected error has occurred and has been reported to the administrator." callToAction="Please try again later" ActionUrl="" />
  
  <CustomErrorMessage code="1100" title="Incomplete Registration" description="You have not verified your email address." callToAction="Click the button below to continue registration and verify your email address" ActionUrl="Register/Step2" />
  <CustomErrorMessage code="1101" title="Incomplete Registration" description="You did not verified your email address within the allowed time." callToAction="Please click the button below to request a new verification email" ActionUrl="Register/Step2" />
  <CustomErrorMessage code="1102" title="Incomplete Registration" description="You have not yet verified your email address." callToAction="Please check your email account and follow the instructions to verify your email address.&lt;br/&lt;Alternatively, try again in {remainingTime} to request another verification email." ActionUrl="" />
  <CustomErrorMessage code="1103" title="Incomplete Registration" description="You have not yet verified your email address." callToAction="Please check your email account and follow the instructions to verify your email address." ActionUrl="Register/Step2" />
  <CustomErrorMessage code="1104" title="Incomplete Registration" description="You have not completed the registration process." callToAction="Next Step: Select your organisation" ActionUrl="Register/Step3" />
  <CustomErrorMessage code="1105" title="Incomplete Registration" description="You have not been sent a PIN in the post." callToAction="Please click the button below to send a PIN to your organisations address." ActionUrl="Register/SendPIN" />
  <CustomErrorMessage code="1106" title="Incomplete Registration" description="You did not confirm the PIN sent to you in the post in the allowed time." callToAction="Please click the button below to request a new PIN to be sent to your organisations address." ActionUrl="Register/SendPIN" />
  <CustomErrorMessage code="1107" title="Incomplete Registration" description="You have not yet confirmed the PIN sent to you in the post." callToAction="Click the button below to enter the PIN you have received in the post or try again in {remainingTime} to request another PIN." ActionUrl="Register/ConfirmPIN" />
  <CustomErrorMessage code="1108" title="Incomplete Registration" description="You have not confirmed the PIN sent to you in the post." callToAction="Click the button below to enter the PIN you have received in the post or to request another PIN." ActionUrl="Register/ConfirmPIN" />
  <CustomErrorMessage code="1109" title="Registration Complete" description="You have already completed registration." callToAction="Next Step: Submit your Gender Pay Gap data" ActionUrl="Submit/Step1" />
  <CustomErrorMessage code="1110" title="Invalid Verification Code" description="You have failed too many verification attempts." callToAction="Please log out of the system and try again in {remainingTime}." ActionUrl="Home/LogOut" />
  <CustomErrorMessage code="1111" title="Invalid Verification Code" description="The verification code you have entered is invalid." callToAction="" ActionUrl="" />
  <CustomErrorMessage code="1112" title="Session Error" description="Could not load registration details from session" callToAction="Please restart and select your organisation type." ActionUrl="Register/Step3" />
  <CustomErrorMessage code="1113" title="Invalid PIN Code" description="You have tried too many incorrect PIN codes." callToAction="Please log out of the system and try again in {remainingTime}." ActionUrl="Home/LogOut" />
  <CustomErrorMessage code="1114" title="Incomplete Registration" description="" callToAction="" ActionUrl="" />
  <CustomErrorMessage code="" title="" description="" callToAction="" ActionUrl="" />
  <CustomErrorMessage code="" title="" description="" callToAction="" ActionUrl="" />
  <CustomErrorMessage code="" title="" description="" callToAction="" ActionUrl="" />
  <CustomErrorMessage code="" title="" description="" callToAction="" ActionUrl="" />
  <CustomErrorMessage code="" title="" description="" callToAction="" ActionUrl="" />
  <CustomErrorMessage code="" title="" description="" callToAction="" ActionUrl="" />
  <CustomErrorMessage code="" title="" description="" callToAction="" ActionUrl="" />
  <CustomErrorMessage code="" title="" description="" callToAction="" ActionUrl="" />
  <CustomErrorMessage code="" title="" description="" callToAction="" ActionUrl="" />

</CustomErrorMessages>
