<ErrorMessages>
  <ErrorMessage code="0" title="Unexpected Error" description="An unexpected error has occured and has been reported to the system administrator." callToAction="Please try again later." default="true"/>
  <ErrorMessage code="400" title="Bad Request" description=""/>
  <ErrorMessage code="401" title="Access Denied" description="You must first login to the system." actionUrl="~/Home/LogOut" actionText="Log Out"/>
  <ErrorMessage code="403" title="Forbidden" description="You do not have permission to access the required resource."/>
  <ErrorMessage code="404" title="Page Not Found" description="The requested page could not be found." />
  <ErrorMessage code="408" title="Request Timeout" description="The server timed out waiting for the request." />
  <ErrorMessage code="429" title="Too many requests" description="The server has received too many requests in the expected time." />
  <ErrorMessage code="500" title="Server Error" description="The server encountered an unexpected condition that prevented it from fulfilling the request." />
  <ErrorMessage code="501" title="Not Supported" description="The server does not support the functionality required to fulfill the request." />
</ErrorMessages>
