<HttpErrorMessages>
  <HttpErrorMessage code="0" title="Http Error" description="An unrecognised http error has occured." default="true"/>
  <HttpErrorMessage code="400" title="Bad Request" description=""/>
  <HttpErrorMessage code="401" title="Access Denied" description="You must first login to the system." actionUrl="~/Home/LogOut" actionText="Log Out"/>
  <HttpErrorMessage code="403" title="Forbidden" description="You do not have permission to access the required resource."/>
  <HttpErrorMessage code="404" title="Page Not Found" description="The requested page could not be found." />
  <HttpErrorMessage code="408" title="Request Timeout" description="The server timed out waiting for the request." />
  <HttpErrorMessage code="429" title="Too many requests" description="The server has received too many requests in the expected time." />
  <HttpErrorMessage code="500" title="Server Error" description="The server encountered an unexpected condition that prevented it from fulfilling the request." />
  <HttpErrorMessage code="501" title="Not Supported" description="The server does not support the functionality required to fulfill the request." />
  <HttpErrorMessage code="501" title="Not Supported" description="The server does not support the functionality required to fulfill the request." />
</HttpErrorMessages>
