<PublicSectorOrgs>
  <PublicSectorOrg OrgName="2Gether NHS Foundation Trust"                                 EmailPatterns="nhs.uk"/>
  <PublicSectorOrg OrgName="5 Boroughs Partnership NHS Foundation Trust"                  EmailPatterns="nhs.uk"/>
  <PublicSectorOrg OrgName="Abbots Langley Parish Council"                                EmailPatterns="abbotslangley-pc.gov.uk"/>
  <PublicSectorOrg OrgName="Aberdeen City Council"                                        EmailPatterns="aberdeencityandshire-sdpa.gov.uk"/>
  <PublicSectorOrg OrgName="Aberdeenshire Council"                                        EmailPatterns="aberdeenshire.gov.uk"/>
  <PublicSectorOrg OrgName="Aberford &amp; District Parish Council"                       EmailPatterns="aberford-pc.gov.uk"/>
  <PublicSectorOrg OrgName="Abergavenny Town Council"                                     EmailPatterns="AbergavennyTownCouncil.gov.uk"/>
  <PublicSectorOrg OrgName="Aberporth Community Council"                                  EmailPatterns="aberporthcommunitycouncil.gov.uk"/>
  <PublicSectorOrg OrgName="Abertilly and Llanhilleth Community Council"                  EmailPatterns="abertilleryandllanhilleth-wcc.gov.uk"/>
  <PublicSectorOrg OrgName="Aberystwyth Town Council"                                     EmailPatterns="aberystwyth.gov.uk"/>

  <PublicSectorOrg OrgName="Abingdon Town Council"                                        EmailPatterns="abingdon.gov.uk"/>
  <PublicSectorOrg OrgName="Account NI DFP"                                               EmailPatterns="accountni.gov.uk"/>
  <PublicSectorOrg OrgName="Accountant in Bankruptcy"                                     EmailPatterns="aib.gov.uk"/>
  <PublicSectorOrg OrgName="Accounts Commission"                                          EmailPatterns="accounts-commission.gov.uk"/>
  <PublicSectorOrg OrgName="Ackworth Parish Council"                                      EmailPatterns="ackworthparishcouncil.gov.uk"/>
  <PublicSectorOrg OrgName="Acton Community Council"                                      EmailPatterns="actoncommunitycouncil.gov.uk"/>
  <PublicSectorOrg OrgName="Addingham Parish Council"                                     EmailPatterns="addingham-pc.gov.uk"/>
  <PublicSectorOrg OrgName="Administration of Radioactive Substances Advisory Committee"  EmailPatterns="phe.gov.uk"/>
  <PublicSectorOrg OrgName="Adur District Council"                                        EmailPatterns="adurdc.gov.uk"/>
  <PublicSectorOrg OrgName="Advisory Committee on Animal Feeding stuffs"                  EmailPatterns="foodstandards.gsi.gov.uk"/>
  
  <PublicSectorOrg OrgName="Advisory Committee on Business Appointments"                  EmailPatterns="acoba.gov.uk"/>
  <PublicSectorOrg OrgName="Advisory Committee on Clinical Excellence Awards"             EmailPatterns="dh.gsi.gov.uk"/>
  <PublicSectorOrg OrgName="Advisory Committee on Conscientious Objectors"                EmailPatterns="mod.uk"/>
  <PublicSectorOrg OrgName="Advisory Committee on Justices of the Peace (x44)"            EmailPatterns="judiciary.gsi.gov.uk"/>
  <PublicSectorOrg OrgName="Advisory Committee on Novel Foods and Processes"              EmailPatterns="foodstandards.gsi.gov.uk"/>
  <PublicSectorOrg OrgName="Advisory Committee on Releases to the Environment"            EmailPatterns="defra.gsi.gov.uk"/>
  <PublicSectorOrg OrgName="Advisory Committee on the Microbiological Safety of Food"     EmailPatterns="foodstandards.gsi.gov.uk"/>
  <PublicSectorOrg OrgName="Advisory Conciliation and Arbitration Service"                EmailPatterns="acas.org.uk"/>
  <PublicSectorOrg OrgName="Advisory Council on National Records and Archives"            EmailPatterns="nationalarchives.gsi.gov.uk"/>
  <PublicSectorOrg OrgName="Advisory Council on the Misuse of Drugs (ACMD)"               EmailPatterns="homeoffice.gsi.gov.uk"/>
 
</PublicSectorOrgs>
