<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<config>
		<add key="repositoryPath" value="D:\CadencePartnership.Com\Gender Pay Gap\Sandbox\packages" />
	</config>
  <packageSources>
    <add key="Identity* Dev Feed" value="https://www.myget.org/F/identity/" />
    <add key="Nuget" value="https://www.nuget.org/api/v2/" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>