@{
    ViewBag.Title = "Register User";
}


<div class="jumbotron">
    <h1>Gender Pay Gap</h1>
    <p class="lead">
        Gender pay gap is a new service for employees to collect and store & track information on the differences wages of Male and Female employees
        within their company as well as submit this data to the government at the end of the financial year.
    </p>
    <p><a href="http://asp.net" class="button btn btn-GDS">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Differences in pay gap salary</h2>
        <p>
            Lorem ipsum dolor sit amet, viverra dignissim. Neque rutrum pulvinar enim purus pulvinar,
            vel dolor ullamcorper, gravida integer donec condimentum, mauris ultricies.Tellus dictumst sollicitudin convallis.
            Et interdum. Amet morbi morbi phasellus mus
        </p>
        <p><a class="button btn btn-GDS" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Differences in pay gap bonus</h2>
        <p>
            Integer nec, felis inceptos sed malesuada, dui auctor. Consectetuer viverra parturient sem mauris elementum, tempor nisl mattis.
            Magna augue malesuada suscipit, amet nunc nullam.
        </p>
        <p><a class="button btn btn-GDS" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Differences in pay gap upper percentile </h2>
        <p>
            Mattis sem arcu est erat dui, elementum erat accumsan vehicula mauris sociosqu, amet sit auctor, egestas ante integer et accumsan, elit conubia,
            donec ullamcorper voluptatem tristique ut.
        </p>
        <p><a class="button btn btn-GDS" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>