@{
    ViewBag.Title = "Home Page";
}


@*<div id="global-header-bar"></div>*@


<main id="content" role="main">


    <div class="row">
        <div class="col-md-2"></div>

        <div class="col-md-5">
            <h1 class="heading-large">
                Report your gender pay gap data
            </h1>
            <p>Use this service to:</p>
            <ul class="list list-bullet">
                <li>report your organisation’s gender pay gap data</li>
                <li>amend gender pay gap data you've already submitted</li>
            </ul>
            <h2 class="heading-medium">Before you start</h2>
            <p>You need the:</p>
            <ul class="list list-bullet">
                <li>Government Gateway sign in details linked to your organisation’s PAYE scheme</li>
                <li>gender pay gap data you want to report</li>
                <li>web address (URL) for the gender pay gap information published on your organisation’s website</li>
            </ul>
            <p>
                <a class="button button-start" href="login" role="button">Start now</a>
            </p>
        </div>

        <div class="col-md-3">
            <div id="global-header-bar" class="col-md-10"></div>
            <aside class="govuk-related-items" role="complementary">
                <h3 class="heading-small" id="subsection-title">Gender pay gap guidance </h3>
                <nav role="navigation" aria-labelledby="subsection-title">
                    <ul class="font-xsmall">
                        <li><a href="#">Gender pay gap: how to calculate</a></li>
                        <li><a href="#">Expected reporting date for gender pay gap data: benefits for employers</a></li>
                        <li><a href="#">Search and compare gender pay gap data</a></li>
                        <li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>
                    </ul>
                </nav>
            </aside>
        </div>

        <div class="col-md-2"></div>
    </div>
</main>



@*<div id="global-app-error" class="app-error hidden"></div>*@


@*<div class="jumbotron">
        <h1>Gender Pay Gap</h1>
        <p class="lead">
            Gender pay gap is a new service for employees to collect and store & track information on the differences wages of Male and Female employees
            within their company as well as submit this data to the government at the end of the financial year.
        </p>
        <p><a href="http://asp.net" class="button btn btn-GDS">Learn more &raquo;</a></p>
    </div>*@

@*<div class="row">
        <div class="col-md-4">
            <h2>Differences in pay gap salary</h2>
            <p>
                Lorem ipsum dolor sit amet, viverra dignissim. Neque rutrum pulvinar enim purus pulvinar,
                vel dolor ullamcorper, gravida integer donec condimentum, mauris ultricies.Tellus dictumst sollicitudin convallis.
                Et interdum. Amet morbi morbi phasellus mus
            </p>
            <p><a class="button btn btn-GDS" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Differences in pay gap bonus</h2>
            <p>
                Integer nec, felis inceptos sed malesuada, dui auctor. Consectetuer viverra parturient sem mauris elementum, tempor nisl mattis.
                Magna augue malesuada suscipit, amet nunc nullam.
            </p>
            <p><a class="button btn btn-GDS" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Differences in pay gap upper percentile </h2>
            <p>
                Mattis sem arcu est erat dui, elementum erat accumsan vehicula mauris sociosqu, amet sit auctor, egestas ante integer et accumsan, elit conubia,
                donec ullamcorper voluptatem tristique ut.
            </p>
            <p><a class="button btn btn-GDS" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@