@model HandleErrorInfo

@{
    ViewBag.Title = "Timed Out";
}

<hgroup>
    <h1 class="text-danger">Session Timout.</h1>
    <h2 class="text-danger">Your session has timed out and you have been logged out of your account.</h2>
</hgroup>
