
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
/*custom css class - added by kingsley*/
.badge-danger {
    color: #fff; 
    background-color: #d9534f !important;
}

.set-width-100-percent {
    width:100%;
}

.wordwrap { 
   /*white-space: pre-wrap;*/        /* CSS3 */   
   /*white-space: -moz-pre-wrap;*/  /* Firefox */    
   /*white-space: -pre-wrap;*/      /* Opera <7 */   
   /*white-space: -o-pre-wrap;*/    /* Opera 7 */    
   word-wrap: break-word;           /* IE */
}

.registerlogin {

   background-color:black;
   text-decoration-color:white;
   color:white;
}

.text-danger {
  color: red;
}

.link-button {
    background:none!important;
    border:none; 
    padding:0!important;
    font: inherit;
    /*border is optional*/
    text-decoration: underline;
    display: inline;
    color: #005ea5;
    cursor: pointer;
    position: relative;
    margin-bottom: 0;
}
.link-button:hover {
  color: #2e8aca; 
}
.error-summary li {
    color: #b10e1e !important;
    font-weight: bold;
    text-decoration: underline;
    list-style:none;
}

.error-summary span{
    font-family: "nta", Arial, sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 24px;
    line-height: 1.25;
    margin-bottom: 0.8333333333em;
    display:block;
}

.error-danger {
    color: #b10e1e !important;
    font-weight: bold;
    text-decoration:none;
}

.validation-summary-valid
{
    display: none;
}

.customvalidation-summary-valid
{
    display: none;
}

.customvalidation-summary-errors
{
    display: block;
}

.filter label {
    font-size: 16px;
    display: inline-block;
    margin-left: 20px;
}
.filter li {
    list-style: none;
}

.tabs-list li {
    list-style: none;
}

.tabs-list li, ul.tabs {
    border-bottom: 0 none;
    float: left;
    margin: 0 0 -1px;
    padding: 0;
}
ul.tabs li.current {
    border: 1px solid #bfc1c3;
    border-bottom: 1px solid transparent;
    margin-top: 0;
    margin-bottom: 0;
    padding: .68421em .94737em .73684em;
    background-color: #fff;
    color: #0b0c0c;
    cursor: default;
    text-decoration: none;
}
.tabs-list li a, ul.tabs li {
    background-color: #dee0e2;
    border: 0 none;
    float: left;
    margin: .26316em .26316em .26316em 0;
    padding: .47368em 1em;
    text-align: center;
    display: block;
}
ul.tabs li {
    cursor: pointer;
    color: #005ea5;
}

.tab-content {
    display: none;
}

.tabs-content, .tab-content {
    border-top: 1px solid #bfc1c3;
    clear: both;
}

.tab-content.current {
    display: inherit;
}

.tab-content {
    display: none;
}

.tabs-content, .tab-content {
    border-top: 1px solid #bfc1c3;
    clear: both;
}

.field-validation-error + input[type=text] {
    border: 4px solid #b10e1e;
}

.form-group .error{
    border-left: 4px solid transparent !important;
}

.form-group.error textarea{
    border: 4px solid #b10e1e !important;
}

.form-group.error input[type=text]{
    border: 4px solid #b10e1e !important;
}

.form-group.error input[type=password]{
    border: 4px solid #b10e1e !important;
}
