<div class="error-summary" role="group" aria-labelledby="error-summary-heading-example-2" tabindex="-1">
    <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-2">
        Message to alert the user to a problem goes here
    </h1>
    <p>
        Optional description of the errors and how to correct them
    </p>
    <ul class="error-summary-list">
        <li><a href="#error-message-mean-hourly-rate">Error message about mean hourly rate</a></li>
        <li><a href="#error-message-median-hourly-rate">Error message about median hourly rate</a></li>
        <li><a href="#error-message-difference-bonus-mean">Error message about Difference in bonus pay - mean</a></li>
        <li><a href="#error-message-bonus-pay">Error message about employees who received bonus pay</a></li>
    </ul>
</div>
