@{
    ViewBag.Title = "Service activated - Gender pay gap reporting service";
}
@using GenderPayGap.WebUI.Classes

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="govuk-box-highlight">
                <h1 class="bold-large">You're now registered for gender pay gap reporting</h1>
            </div>
            <div class="subsection panel-indent">
                <div class="bold-small">Next step: Submit your gender pay gap data for 2016 to 2017.</div>
            </div>
            <p></p>
            <a class="button" role="button" href="@Url.Action("Step1", "Submit")">Continue</a>
        </div>
    </div>
</main>
