@{
    ViewBag.Title = "Registration accepted - Gender pay gap reporting service";
}
@model GenderPayGap.WebUI.Models.Register.OrganisationViewModel
<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="govuk-box-highlight">
                <h1 class="bold-large dynamic-content publicManual privateManual" style="display: block;">Registration complete</h1>
                <h1 class="bold-large dynamic-content privateManualReject publicManualReject">Application declined</h1>
            </div>
            <div class="bold-small">

                <a href="geo-user-email?dc=privateManual" class="hide-link dynamic-content privateManual" style="display: inline;">What happens next.</a>
                <a href="geo-user-email?dc=publicManual" class="hide-link dynamic-content publicManual">What happens next.</a>
                <a href="geo-user-email?dc=publicManualReject" class="hide-link dynamic-content publicManualReject">What happens next.</a>
                <a href="geo-user-email?dc=privateManualReject" class="hide-link dynamic-content privateManualReject">What happens next.</a>

            </div>
            <p class="dynamic-content privateManual" style="display: block;">We’ve sent @Model.ContactFirstName&nbsp;@Model.ContactLastName an email, confirming they can report on behalf of @Model.Name. </p>
            <p class="dynamic-content publicManual">We’ve sent Jane Smith an email, confirming they can report on behalf of Oxford City Council. </p>
            <p class="dynamic-content privateManualReject">Smith Limited will receive an gender pay gap email stating that their application for gender pay gap reporting has been declined. </p>
            <p class="dynamic-content publicManualReject">Oxford City Council will receive an gender pay gap email stating that their application for gender pay gap reporting has been declined </p>

        </div>
    </div>
</main>
