@{
    ViewBag.Title = "Registration: Complete";
}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-full">
            <div class="govuk-box-highlight">
                <h1 class="bold-large">Your service has been activated</h1>
            </div>
            <div class="subsection panel-indent">
                <div class="bold-small">Next step: Submit your gender pay gap data.</div>
            </div>
            <p></p>
            <a class="button" role="button" href="@Url.Action("Step1", "Submit")">Continue</a>
        </div>
    </div>
</main>
