@*<div class="phase-banner-alpha">
    <p>
        <strong class="phase-tag">ALPHA</strong>
        <strong>&alpha;&nbsp;</strong>
        <span>This is a new service – your <a href="#" rel="external" target="_blank" class="font16-ext-link">feedback</a> will help us to improve it.</span>
    </p>
</div>*@

    <p>
        <strong class="phase-tag">ALPHA</strong>
        <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
