@*@model GenderPayGap.Models.SqlDatabase.Organisation*@
@model GenderPayGap.WebUI.Models.SearchViewModel

<main id="content" role="main">
   

    <div class="grid-row">
        <div class="column-full">
            <h1 class="heading-large">
                Gender pay gap
            </h1>
            <div class="tabs">
                <div class="tabs-nav">
                    <ul class="tabs-list">
                        <li><a href="search">Search for employers</a></li>
                        <li><a href="sectors" class="selected">View employers by sector</a></li>
                        <li><a href="download">Download data</a></li>
                    </ul>
                </div>
                <div class="tabs-content">
                    <div class="tabs-panel" id="tab-1">
                        <div class="tabs-panel-inner">
                            <h3 class="heading-medium">View employers by sector</h3>
                            <div class="grid-row">
                                <div class="column-one-third">
                                    <p class="">Filter by:</p>
                                    <div class="search-bar flush">
                                        <div class="searchfield">
                                            <form action="search-results-sector-search">
                                                <input type="search" value="" class="search-input" placeholder="Employer name ">
                                                <button type="submit" class="search-submit">Search</button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="filter">
                                        <div class="head">
                                            Sectors
                                        </div>
                                        <div class="checkbox-container">
                                            <ul>
                                                <li>
                                                    <input type="checkbox"><label>Accommodation and food service activities (20)</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox" id="cb" onchange="window.location.href='search-results-sector'"><label for="cb">Agriculture, Forestry and Fishing (20)</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox"><label>Construction (90)</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox"><label>Education (40)</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox"><label>Electricity, gas, steam and air conditioning supply (48)</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox"><label>Manufacturing (40)</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox"><label>Other service activities (20)</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox"><label>Professional, scientific and technical activities (18)</label>
                                                </li>
                                                <li>
                                                    <input type="checkbox"><label>Transportation and storage (60)</label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="column-two-thirds">
                                    <p class="">Showing 1 – 50 of 400 employers</p>
                                    <table class="search">
                                        <caption class="visuallyhidden">Customer and Business search listing</caption>
                                        <thead>
                                            <tr>
                                                <th scope="col">Employer</th>
                                                <th scope="col">Sector</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @*@{
                                                if (Model != null )
                                                {
                                                    foreach (var item in Model.Results)
                                                    {
                                                    <tr>
                                                        <td><a href='employer-details-sector'>@Html.ValueFor(model => model.Results) </a><span>Kingsmead, Upton Road, Birkenhead, Merseyside, CH43 7QQ</span></td>
                                                        <td>
                                                            Agriculture, Forestry and Fishing
                                                        </td>
                                                    </tr>
                                                        }
                                                    }
                                                }*@

                                            <tr>
                                                <td><a href='employer-details-sector'>Abalan limited</a><span>Kingsmead, Upton Road, Birkenhead, Merseyside, CH43 7QQ</span></td>
                                                <td>
                                                    Agriculture, Forestry and Fishing
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a href='#'>Adams logistics limited </a><span>2 Bridge Street, Swadlincote, Derbyshire, DE11 8EL</td>
                                                <td>
                                                    Transportation and storage
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a href='#'>APS Countryside limited</a><span>21 Chiswell Street, Wigan, Lancashire, WN5 8DW</span></td>
                                                <td>
                                                    Education
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a href='#'>Axis services limited</a> <span>38 Gelli Road, Llanelli, Carmarthenshire, SA14 9AA</span></td>
                                                <td>
                                                    Manufacturing
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a href='#'>ATR services limited</a><span>21 Chiswell Street, Wigan, Lancashire, WN5 8DW</span></td>
                                                <td>
                                                    Construction
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a href='#'>Barkers limited </a> <span>63 Fields Road, Haslingden, Rossendale, Lancashire, BB4 6QA</span></td>
                                                <td>
                                                    Accommodation and food service activities
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href='#'>Barnes limited</a><span>
                                                        15 Hall Gate, Doncaster, United Kingdom, DN1 3NA
                                                    </span>
                                                </td>
                                                <td>
                                                    Accommodation and food service activities
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a href='#'>Bosloe fishing limited</a> <span>Matrix House, 12-16 Lionel Road, Canvey Island, Essex, SS8 9DE</span></td>
                                                <td>
                                                    Professional, scientific and technical activities
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a href='#'>Bowerman limited</a> <span>15 Hall Gate, Doncaster, United Kingdom, DN1 3NA</span></td>
                                                <td>
                                                    Education
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a href='#'>BTS group limited</a><span>63 Fields Road, Haslingden, Rossendale, Lancashire, BB4 6QA</span></td>
                                                <td>
                                                    Agriculture, Forestry and Fishing
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a href='#'>Carnsdale farms limited </a> <span>63 Fields Road, Haslingden, Rossendale, Lancashire, BB4 6QA</span></td>
                                                <td>
                                                    Agriculture, Forestry and Fishing
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a href='#'>Cimitar services limited</a>	<span>38 Gelli Road, Llanelli, Carmarthenshire, SA14 9AA</span></td>
                                                <td>
                                                    Construction
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a href='#'>Corby limited	</a><span>33 Holmewood, Chesterfield, Derbyshire, S42 5UY</span></td>
                                                <td>
                                                    Other service activities
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a href='#'>Colins limited	</a><span>33 Holmewood, Chesterfield, Derbyshire, S42 5UY</span></td>
                                                <td>
                                                    Manufacturing
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a href='#'>Earlsfield limited </a> <span>5 Deansgreave Terrace, Bacup, United Kingdom, OL13 9SB</span></td>
                                                <td>
                                                    Transportation and storage
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href='#'>Entity limited</a><span>
                                                        21 Chiswell Street, Wigan, Lancashire, WN5 8DW
                                                    </span>
                                                </td>
                                                <td>
                                                    Construction
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a href='#'>fishing limited </a><span>Matrix House, 12-16 Lionel Road, Canvey Island, Essex, SS8 9DE</span></td>
                                                <td>
                                                    Agriculture, Forestry and Fishing
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a href='#'>Fishtek limited</a>	<span>15 Hall Gate, Doncaster, United Kingdom, DN1 3NA</span></td>
                                                <td>
                                                    Manufacturing
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a href='#'>Fordhams limited</a><span>33 Holmewood, Chesterfield, Derbyshire, S42 5UY</span></td>
                                                <td>
                                                    Construction
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a href='#'>G A Bower limited</a> <span>15 Hall Gate, Doncaster, United Kingdom, DN1 3NA</span></td>
                                                <td>
                                                    Education
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a href='#'>Gemini limited </a> <span>63 Fields Road, Haslingden, Rossendale, Lancashire, BB4 6QA</span></td>
                                                <td>
                                                    Other service activities
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a href='#'>Glasnakille limited</a> <span>5 Deansgreave Terrace, Bacup, United Kingdom, OL13 9SB</span></td>
                                                <td>
                                                    Electricity, gas, steam and air conditioning supply
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a href='#'>Heartston limited</a><span>21 Chiswell Street, Wigan, Lancashire, WN5 8DW</span></td>
                                                <td>
                                                    Contruction
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a href='#'>Hooktone limited</a>  <span>63 Fields Road, Haslingden, Rossendale, Lancashire, BB4 6QA</span></td>
                                                <td>
                                                    Accommodation and food service activities
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a href='#'>Heathpatch logistics limited</a><span>2 Bridge Street, Swadlincote, Derbyshire, DE11 8EL</span></td>
                                                <td>
                                                    Transportation and storage
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a href='#'>Intercity builds limited</a> <span>38 Gelli Road, Llanelli, Carmarthenshire, SA14 9AA</span></td>
                                                <td>
                                                    Construction
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a href='#'>Innerspace group limited </a> <span>63 Fields Road, Haslingden, Rossendale, Lancashire, BB4 6QA</span></td>
                                                <td>
                                                    Electricity, gas, steam and air conditioning supply
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a href='#'>James Bower limited</a><span>Hatherton Hall, Swadlincote, Cannock, Staffs, WS11 1RP</span></td>
                                                <td>
                                                    Agriculture, Forestry and Fishing
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a href='#'>James finlay limited</a> <span>Matrix House, 12-16 Lionel Road, Canvey Island, Essex, SS8 9DE</span></td>
                                                <td>
                                                    Professional, scientific and technical activities
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a href='#'>John's farms limited</a>  <span>63 Fields Road, Haslingden, Rossendale, Lancashire, BB4 6QA</span></td>
                                                <td>
                                                    Agriculture, Forestry and Fishing
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a href='#'>Kings limited</a><span>33 Holmewood, Chesterfield, Derbyshire, S42 5UY</span></td>
                                                <td>
                                                    Electricity, gas, steam and air conditioning supply
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a href='#'>Kower limited</a>	<span>15 Hall Gate, Doncaster, United Kingdom, DN1 3NA</span></td>
                                                <td>
                                                    Construction
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a href='#'>logistics limited	</a> <span>2 Bridge Street, Swadlincote, Derbyshire, DE11 8EL</span></td>
                                                <td>
                                                    Transportation and storage
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a href='#'>Marine services ltd</a>  <span>5 Deansgreave Terrace, Bacup, United Kingdom, OL13 9SB</span></td>
                                                <td>
                                                    Agriculture, Forestry and Fishing
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a href='#'>Mainside limited</a><span>21 Chiswell Street, Wigan, Lancashire, WN5 8DW</span></td>
                                                <td>
                                                    Agriculture, Forestry and Fishing
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a href='#'>Nelgate limited</a> <span>Matrix House, 12-16 Lionel Road, Canvey Island, Essex, SS8 9DE</span></td>
                                                <td>
                                                    Professional, scientific and technical activities
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a href='#'>NTS group limited </a> <span>63 Fields Road, Haslingden, Rossendale, Lancashire, BB4 6QA</span></td>
                                                <td>
                                                    Electricity, gas, steam and air conditioning supply
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="pager">
                                        <div class="pager-controls">
                                            <ul class="pager-items">
                                                <li>1</li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li><a href="#">4</a></li>
                                                <li><a href="#">5</a></li>
                                            </ul>
                                            <a class="pager-next" href="#">Next</a>
                                        </div>
                                        <div class="pager-summary">Showing 1 – 50 of 400 employers</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/css")
}