@model GenderPayGap.Models.SqlDatabase.Return
@{
    ViewBag.Title = "Home Page";
}

<main id="content" role="main">
    
@using (Html.BeginForm("Step1", "Submit", FormMethod.Post))
{
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large">
                Register or report your gender pay gap data

            </h1>
            <p>Use this service to:</p>
            <ul class="list list-bullet">
                <li>register or report your gender pay gap data</li>
                <li>report your organisation’s gender pay gap data</li>
            </ul>
            <h2 class="heading-medium">Before you start</h2>
            <h3 class="heading-small">Registering to report gender pay gap data:</h3>
            <p>You’ll need an active email address.</p>
            <h3 class="heading-small">Reporting gender pay gap data for the first time</h3>
            <p>You’ll need the:</p>
            <ul class="list list-bullet">
                <li>email address and password you used to register for the gender pay gap reporting service</li>
                <li>PIN that was sent in the post to your organisation</li>
                <li>gender pay gap data you want to report</li>
                <li>web address (URL) for the gender pay gap information published on your organisation’s website</li>
            </ul>
            <p>
                @Html.ActionLink("Start now", "Step1", null, new { @class = "button button-start" })
            </p>
        </div>
        <div class="column-third">
            <aside class="govuk-related-items" role="complementary">
                <h3 class="heading-small" id="subsection-title">Gender pay gap guidance </h3>
                <nav role="navigation" aria-labelledby="subsection-title">
                    <ul class="font-xsmall">
                        <li><a href="#">Gender pay gap: how to calculate</a></li>
                        <li><a href="#">Expected reporting date for gender pay gap data: benefits for employers</a></li>
                        <li><a href="#">Search and compare gender pay gap data</a></li>
                        <li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>
                    </ul>
                </nav>
            </aside>
        </div>
    </div>
}
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/css")
}

