<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>

    <sessionState mode="Custom" customProvider="RedisSessionStateStore" xdt:Transform="Replace">
      <providers>
        <add name="RedisSessionStateStore" type="Microsoft.Web.Redis.RedisSessionStateProvider" connectionString="REDIS_CONNECTION_STRING" applicationName="REDIS_SESSION_APPLICATION_NAME" throwOnError="true"  />
      </providers>
    </sessionState>

    <caching xdt:Transform="Replace">
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="Download" duration="3600" varyByParam="none" enabled="false" />
          <add name="DownloadData" duration="3600" varyByParam="year" enabled="false" />
          <add name="EmployerDetails" duration="3600" varyByParam="id;view" enabled="false" />
          <add name="SearchResults" duration="3600" varyByParam="search;page;sectors" enabled="false" />
          <add name="RedirectIndex" duration="86400" varyByParam="none" enabled="false" />
          <add name="Error" duration="86400" varyByParam="none" enabled="false" />
          <add name="ResetPassword" duration="86400" varyByParam="none" enabled="false" />
          <add name="Feedback" duration="86400" varyByParam="none" enabled="false" />
          <add name="ContactUs" duration="86400" varyByParam="none" enabled="false" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>

  </system.web>
  <system.webServer>
    <security>
      <dynamicIpSecurity xdt:Transform="Replace">
        <denyByConcurrentRequests enabled="false" maxConcurrentRequests="10" />
        <denyByRequestRate enabled="false" maxRequests="10" requestIntervalInMilliseconds="2000" />
      </dynamicIpSecurity>
    </security>
  </system.webServer>
  <appSettings>
    <add key="TESTING-Pin" value="A9FE5D" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="EncryptEmails" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

</configuration>