<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>

    <compilation xdt:Transform="RemoveAttributes(debug)" />

    <customErrors mode="On" defaultRedirect="~/Error.html" xdt:Transform="Replace">
      <error redirect="~/Error?code=400" statusCode="400" />
      <error redirect="~/Error?code=401" statusCode="401" />
      <error redirect="~/Error?code=403" statusCode="403" />
      <error redirect="~/Error?code=404" statusCode="404" />
      <error redirect="~/Error?code=408" statusCode="408" />
      <error redirect="~/Error?code=429" statusCode="429" />
      <error redirect="~/Error?code=500" statusCode="500" />
      <error redirect="~/Error?code=501" statusCode="501" />
    </customErrors>

    <sessionState mode="Custom" customProvider="RedisSessionStateStore" xdt:Transform="Replace">
      <providers>
        <add name="RedisSessionStateStore" type="Microsoft.Web.Redis.RedisSessionStateProvider" connectionString="REDIS_CONNECTION_STRING" applicationName="REDIS_SESSION_APPLICATION_NAME" throwOnError="true"  />
      </providers>
    </sessionState>

  </system.web>

  <appSettings>
    <add key="TESTING-Pin" value="A9FE5D" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="GEODistributionList" value="GPG.REPORTING@education.gov.uk" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="TESTING-PublicSectorEmailPatterns" value="*.geo?@education.gov.uk" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="GoogleAnalyticsAccountId" value="UA-93591336-2" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

</configuration>