<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>

    <compilation xdt:Transform="RemoveAttributes(debug)" />

    <sessionState mode="Custom" customProvider="RedisSessionStateStore" xdt:Transform="Replace">
      <providers>
        <add name="RedisSessionStateStore" type="Microsoft.Web.Redis.RedisSessionStateProvider" connectionString="REDIS_CONNECTION_STRING" applicationName="REDIS_SESSION_APPLICATION_NAME" throwOnError="true"  />
      </providers>
    </sessionState>

  </system.web>

  <AppSettings>
    <add key="TESTING-Pin" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="GEOGroupEmailAddress" value="GPG.REPORTING@education.gov.uk" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="TESTING-PublicSectorEmailPatterns" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </AppSettings>

</configuration>