@{
    ViewBag.Title = "Email confirmed - Gender pay gap reporting service";
}
<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="govuk-box-highlight">
                <h1 class="bold-large">You've confirmed your email address</h1>
            </div>

            <div class="subsection panel-indent">
                <div class="bold-small">Next step: Tell us about the organisation that you are reporting for.</div>
            </div>
            <p></p>
            <a class="button" href="@Url.Action("OrganisationType")" role="button">Continue</a>
        </div>
    </div>
</main>
