@{
    ViewBag.Title = "Registration request received - Gender pay gap reporting service";
}
<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="dynamic-content privateManual publicManual" style="display: block;">
                <div class="govuk-box-highlight">
                    <h1 class="bold-medium">We’ve got your details </h1>
                </div>
                <div class="bold-small">
                    What happens next.
                </div>
                <p>
                    The @if (!string.IsNullOrWhiteSpace(ViewBag.TestUrl))
                    {
                        <a data-name="testurl" href="@ViewBag.TestUrl">
                            Government Equalities Office 
                        </a>
                    }
                    else
                    {
                        <span>Government Equalities Office</span>
                    } will review your details and get in touch within 5 working days to confirm your registration.
                </p>
                <p>If they need more information to complete your registration, they will call or email you.</p>
            </div>
        </div>
    </div>
</main>
