<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<CustomErrorMessages>
	<!-- On Page Errors -->
	<CustomErrorMessage code="0" title="Something’s gone wrong" description="Please try again later"/>
	<CustomErrorMessage code="310" title="Too many redirects" description="Too many redirects occurred to while attempting authentication" callToAction="Please sign out of the system and try again" actionUrl="/Home/SignOut" actionText="Log Out"/>
	<CustomErrorMessage code="400" title="Something’s gone wrong" description="Please try again later"/>
	<CustomErrorMessage code="401" title="Something’s gone wrong" description="Please sign out and sign in again to continue" actionUrl="/Home/SignOut" actionText="Sign in"/>
	<CustomErrorMessage code="403" title="Something’s gone wrong" description="Please use your browser’s ‘Back’ button to return to the previous step"/>
	<CustomErrorMessage code="404" title="We can’t find the page you need" description="Please use your browser’s ‘Back’ button to return to the previous step"/>
	<CustomErrorMessage code="408" title="Something’s gone wrong" description="Please use your browser’s ‘Back’ button to return to the previous step"/>
	<CustomErrorMessage code="429" title="Something’s gone wrong" description="Please try again later"/>
	<CustomErrorMessage code="500" title="Something’s gone wrong" description="Please try again later"/>
	<CustomErrorMessage code="501" title="Something’s gone wrong" description="Please try again later"/>
	<CustomErrorMessage code="1000" title="You’re not signed in properly" description="Please sign out and sign in again to continue" callToAction="Sign out" actionUrl="/Home/signout"/>
	<CustomErrorMessage code="1001" title="You’re not signed in properly" description="Please sign out and sign in again to continue" callToAction="Sign out" actionUrl="/Home/SignOut"/>
	<CustomErrorMessage code="1002" title="You’re not signed in" description="Please sign in to continue" callToAction="Sign in" actionUrl="/Home/Login"/>
	<CustomErrorMessage code="1003" title="Something’s gone wrong" description="Please try again later"/>
	<CustomErrorMessage code="1100" title="You haven’t verified your email address yet" description="Please verify your email address to continue" callToAction="Verify your email address" actionUrl="/Register/verify-email"/>
	<CustomErrorMessage code="1101" title="You haven’t verified your email address yet" description="The email we sent you has expired. You’ll need to get a new email to continue" callToAction="Get a new verification email" actionUrl="/Register/verify-email"/>
	<CustomErrorMessage code="1102" title="You haven’t verified your email address yet" description="Please check your email and junk mail folder. If you can’t find our email, you can request another one in {remainingTime}"/>
	<CustomErrorMessage code="1103" title="You haven’t verified your email address yet" description="Please check your email and junk mail folder. If you can’t find our email, you can now request another one" callToAction="Get a new verification email" actionUrl="/Register/verify-email"/>
	<CustomErrorMessage code="1104" title="We need more information about your organisation" callToAction="Tell us about your organisation" actionUrl="/Register/organisation-type"/>
	<CustomErrorMessage code="1105" title="We need to send you a PIN in the post to complete your registration" callToAction="Get a PIN to finish your registration" actionUrl="/Register/pin-sent"/>
	<CustomErrorMessage code="1106" title="Your PIN has expired" callToAction="Get a replacement PIN" actionUrl="/Register/pin-sent"/>
	<CustomErrorMessage code="1107" title="Please enter your PIN" description="You need to enter your PIN that we sent in the post to complete your registration. If you haven’t got it yet, you can request another one in {remainingTime}" callToAction="Enter your PIN" actionUrl="/Register/activate-service"/>
	<CustomErrorMessage code="1108" title="Your PIN has expired" description="The PIN we sent you in the post has expired" callToAction="Get another PIN" actionUrl="/Register/request-pin"/>
	<CustomErrorMessage code="1109" title="You’re already registered for this service" callToAction="Submit your organisation’s gender pay gap data" actionUrl="/Submit/enter-calculations"/>
	<CustomErrorMessage code="1110" title="You’ve made too many attempts to verify your email address" description="Please sign out and try again in {remainingTime}" actionUrl="/Home/SignOut"/>
	<CustomErrorMessage code="1111" title="You’ve entered the wrong email verification code" description="Please try again using the correct verification code"/>
	<CustomErrorMessage code="1112" title="Something’s gone wrong" description="We need you to tell us about your organisation again" callToAction="Tell us about your organisation" actionUrl="/Register/organisation-type"/>
	<CustomErrorMessage code="1113" title="You’ve entered the incorrect PIN too many times" description="Sign in again and enter your PIN in {remainingTime}" actionUrl="/Home/SignOut" actionText="Sign out"/>
  <CustomErrorMessage code="1114" title="You’ve entered the wrong registration review code" description="Please try again using the correct registration review code"/>
  <CustomErrorMessage code="1115" title="This registration request no longer exists." description="This registration was previously declined and the user informed by email."/>
  <CustomErrorMessage code="1116" title="You've confirmed your email address." description="Your email address is now confirmed as that of a system administrator." callToAction="Click the links in your registration request emails or sign out." actionUrl="/Home/SignOut" actionText="Sign out"/>
  <CustomErrorMessage code="1117" title="Forbidden" description="As an administrator you are not permitted to view this page." />
  <CustomErrorMessage code="1118" title="Something’s gone wrong" description="We need you to start your search again" callToAction="Find Employers" actionUrl="/Viewing/search-results"/>
  <CustomErrorMessage code="1119" title="Service Unavailable" description="The Gender Pay Gap service is currently unavailable due to maintenance." callToAction="Please try again later" />

  <!-- Inline Errors from Data Annotations-->

  <!-- Inline Errors hard coded -->
  <CustomErrorMessage code="2000" validator="RegisterViewModel.EmailAddress:Required" displayName="Email address" title="There's a problem with your email address" description="Please enter your email address" />
  <CustomErrorMessage code="2001" validator="RegisterViewModel.ConfirmEmailAddress:Required" displayName="Confirm your email address" title="There's a problem with your email address" description="Please enter your email address again" />
  <CustomErrorMessage code="2002" validator="RegisterViewModel.ConfirmEmailAddress:Compare" displayName="Confirm your email address" title="There's a problem with your email address" description="The email addresses don't match. Please enter your email address again." />
  <CustomErrorMessage code="2003" validator="RegisterViewModel.FirstName:Required" displayName="First name" title="There's a problem with your personal details" description="Please enter your first name" />
  <CustomErrorMessage code="2004" validator="RegisterViewModel.LastName:Required" displayName="Last name" title="There's a problem with your personal details" description="Please enter your last name" />
  <CustomErrorMessage code="2005" validator="RegisterViewModel.JobTitle:Required" displayName="Job title" title="There's a problem with your personal details" description="Please enter your job title" />
  <CustomErrorMessage code="2006" validator="RegisterViewModel.Password:Required" displayName="Password" title="There's a problem with your personal details" description="Please enter your password" />
  <CustomErrorMessage code="2007" validator="RegisterViewModel.Password:StringLength" displayName="Password" title="There's a problem with your password" description="Your password must be at least {2} characters long" />
  <CustomErrorMessage code="2008" validator="RegisterViewModel.Password:DataType" displayName="Password" title="There's a problem with your password" description="Your password contains invalid characters, please try again" />
  <CustomErrorMessage code="2009" validator="RegisterViewModel.Password:Password" displayName="" title="There's a problem with your password" description="Your password isn't valid, please try again" />
  <CustomErrorMessage code="2010" validator="RegisterViewModel.ConfirmPassword:Required" displayName="Confirm password" title="There's a problem with your password" description="Please enter your password again" />
  <CustomErrorMessage code="2011" validator="RegisterViewModel.ConfirmPassword:DataType" displayName="Confirm password" title="There's a problem with your password" description="Your password contains invalid characters, please enter your password again" />
  <CustomErrorMessage code="2012" validator="RegisterViewModel.ConfirmPassword:Compare" displayName="Confirm your password" title="There's a problem with your password" description="The passwords entries don't match. Please enter your password again." />
  <CustomErrorMessage code="2013" validator="OrganisationViewModel.SearchText:Required" displayName="SearchText" title="There is a problem with your search" description="Please enter an organisation to search for" />
  <CustomErrorMessage code="2014" validator="OrganisationViewModel.SearchText:StringLength" displayName="SearchText" title="There's a problem with your search" description="You must enter an employers name or company number between 3 and 100 characters in length" />
  <CustomErrorMessage code="2015" validator="CompleteViewModel.PIN:Required" displayName="Enter pin" title="There’s a problem with your PIN" description="Please enter your PIN" />
  <CustomErrorMessage code="2016" validator="CompleteViewModel.PIN:Pin" displayName="Enter pin" title="There's a problem with your PIN" description="Please enter your PIN" />
  <CustomErrorMessage code="2017" validator="ReturnViewModel.DiffMeanHourlyPayPercent:Required" displayName="Enter the difference in mean hourly rate" title="There’s a problem with your gender pay gap data" description="Please enter your data" />
  <CustomErrorMessage code="2019" validator="ReturnViewModel.DiffMedianHourlyPercent:Required" displayName="Enter the difference in median hourly rate" title="There’s a problem with your gender pay gap data" description="Please enter your data" />
  <CustomErrorMessage code="2021" validator="ReturnViewModel.DiffMeanBonusPercent:Required" displayName="Enter the difference in mean bonus pay" title="There’s a problem with your gender pay gap data" description="Please enter your data" />
  <CustomErrorMessage code="2023" validator="ReturnViewModel.DiffMedianBonusPercent:Required" displayName="Enter the difference in median bonus pay" title="There’s a problem with your gender pay gap data" description="Please enter your data" />
  <CustomErrorMessage code="2025" validator="ReturnViewModel.MaleMedianBonusPayPercent:Required" displayName="Males who received bonus pay" title="There’s a problem with your gender pay gap data" description="Please enter your data" />
  <CustomErrorMessage code="2027" validator="ReturnViewModel.FemaleMedianBonusPayPercent:Required" displayName="Females who received bonus pay" title="There’s a problem with your gender pay gap data" description="Please enter your data" />
  <CustomErrorMessage code="2029" validator="ReturnViewModel.MaleLowerPayBand:Required" displayName="Male" title="There’s a problem with your gender pay gap data" description="Please enter your data" />
  <CustomErrorMessage code="2031" validator="ReturnViewModel.FemaleLowerPayBand:Required" displayName="Female" title="There’s a problem with your gender pay gap data" description="Please enter your data" />
  <CustomErrorMessage code="2033" validator="ReturnViewModel.MaleMiddlePayBand:Required" displayName="Male" title="There’s a problem with your gender pay gap data" description="Please enter your data" />
  <CustomErrorMessage code="2035" validator="ReturnViewModel.FemaleMiddlePayBand:Required" displayName="Female" title="There’s a problem with your gender pay gap data" description="Please enter your data" />
  <CustomErrorMessage code="2037" validator="ReturnViewModel.MaleUpperPayBand:Required" displayName="Male" title="There’s a problem with your gender pay gap data" description="Please enter your data" />
  <CustomErrorMessage code="2039" validator="ReturnViewModel.FemaleUpperPayBand:Required" displayName="Female" title="There’s a problem with your gender pay gap data" description="Please enter your data" />
  <CustomErrorMessage code="2041" validator="ReturnViewModel.MaleUpperQuartilePayBand:Required" displayName="Male" title="There’s a problem with your gender pay gap data" description="Please enter your data" />
  <CustomErrorMessage code="2043" validator="ReturnViewModel.FemaleUpperQuartilePayBand:Required" displayName="Female" title="There’s a problem with your gender pay gap data" description="Please enter your data" />
  <CustomErrorMessage code="2045" validator="ReturnViewModel.FirstName:Required" displayName="First name" title="There’s a problem with your gender pay gap data" description="Please enter a first name" />
  <CustomErrorMessage code="2046" validator="ReturnViewModel.LastName:Required" displayName="Last name" title="There’s a problem with your gender pay gap data" description="Please enter a last name" />
  <CustomErrorMessage code="2047" validator="ReturnViewModel.JobTitle:Required" displayName="Job title" title="There’s a problem with your gender pay gap data" description="Please enter a job title" />
  <CustomErrorMessage code="2051" validator="OrganisationViewModel.PostCode:MaxLength" displayName="PostCode" title="There's a problem with your address" description="Enter up to 20 characters" />
  <CustomErrorMessage code="2052" validator="RegisterViewModel.EmailAddress:EmailAddress" displayName="Email address" title="There's a problem with your email address" description="Please enter a valid email address (e.g. john.smith@smithlimited.co.uk)" />
  <CustomErrorMessage code="2053" validator="ReturnViewModel.DiffMeanHourlyPayPercent:RegularExpression" displayName="Enter the difference in mean hourly rate" title="There’s a problem with your gender pay gap data" description="Please enter your data calculated to one decimal place using only numbers" />
  <CustomErrorMessage code="2054" validator="ReturnViewModel.DiffMedianHourlyPercent:RegularExpression" displayName="Enter the difference in median hourly rate" title="There’s a problem with your gender pay gap data" description="Please enter your data calculated to one decimal place using only numbers" />
  <CustomErrorMessage code="2055" validator="ReturnViewModel.DiffMeanBonusPercent:RegularExpression" displayName="Enter the difference in mean bonus pay" title="There’s a problem with your gender pay gap data" description="Please enter your data calculated to one decimal place using only numbers" />
  <CustomErrorMessage code="2056" validator="ReturnViewModel.DiffMedianBonusPercent:RegularExpression" displayName="Enter the difference in median bonus pay" title="There’s a problem with your gender pay gap data" description="Please enter your data calculated to one decimal place using only numbers" />
  <CustomErrorMessage code="2057" validator="ReturnViewModel.MaleMedianBonusPayPercent:RegularExpression" displayName="Males who received bonus pay" title="There’s a problem with your gender pay gap data" description="Please enter your data calculated to one decimal place using only numbers" />
  <CustomErrorMessage code="2058" validator="ReturnViewModel.FemaleMedianBonusPayPercent:RegularExpression" displayName="Females who received bonus pay" title="There’s a problem with your gender pay gap data" description="Please enter your data calculated to one decimal place using only numbers" />
  <CustomErrorMessage code="2059" validator="ReturnViewModel.MaleLowerPayBand:RegularExpression" displayName="Male" title="There’s a problem with your gender pay gap data" description="Please enter your data calculated to one decimal place using only numbers" />
  <CustomErrorMessage code="2060" validator="ReturnViewModel.FemaleLowerPayBand:RegularExpression" displayName="Female" title="There’s a problem with your gender pay gap data" description="Please enter your data calculated to one decimal place using only numbers" />
  <CustomErrorMessage code="2061" validator="ReturnViewModel.MaleMiddlePayBand:RegularExpression" displayName="Male" title="There’s a problem with your gender pay gap data" description="Please enter your data calculated to one decimal place using only numbers" />
  <CustomErrorMessage code="2062" validator="ReturnViewModel.FemaleMiddlePayBand:RegularExpression" displayName="Female" title="There’s a problem with your gender pay gap data" description="Please enter your data calculated to one decimal place using only numbers" />
  <CustomErrorMessage code="2063" validator="ReturnViewModel.MaleUpperPayBand:RegularExpression" displayName="Male" title="There’s a problem with your gender pay gap data" description="Please enter your data calculated to one decimal place using only numbers" />
  <CustomErrorMessage code="2064" validator="ReturnViewModel.FemaleUpperPayBand:RegularExpression" displayName="Female" title="There’s a problem with your gender pay gap data" description="Please enter your data calculated to one decimal place using only numbers" />
  <CustomErrorMessage code="2065" validator="ReturnViewModel.MaleUpperQuartilePayBand:RegularExpression" displayName="Male" title="There’s a problem with your gender pay gap data" description="Please enter your data calculated to one decimal place using only numbers" />
  <CustomErrorMessage code="2066" validator="ReturnViewModel.FemaleUpperQuartilePayBand:RegularExpression" displayName="Female" title="There’s a problem with your gender pay gap data" description="Please enter your data calculated to one decimal place using only numbers" />
  <CustomErrorMessage code="2067" validator="ReturnViewModel.CompanyLinkToGPGInfo:Url" displayName="Website address" title="There's a problem with your website address" description="Please enter a valid web address (URL)" />
  <CustomErrorMessage code="2068" validator="OrganisationViewModel.Name:Required" displayName="Organisation name" title="There's a problem with your employer's name" description="Please enter your organisation name" />
  <CustomErrorMessage code="2069" validator="OrganisationViewModel.Address1:Required" displayName="Address1" title="There's a problem with your address" description="Please enter your address" />
  <CustomErrorMessage code="2070" validator="OrganisationViewModel.Address3:Required" displayName="Town or City" title="There's a problem with your address" description="Please enter your town or city" />
  <CustomErrorMessage code="2071" validator="OrganisationViewModel.PostCode:Required" displayName="PostCode" title="There's a problem with your address" description="Please enter your post code" />
  <CustomErrorMessage code="2072" validator="OrganisationViewModel.ContactFirstName:Required" displayName="First name" title="There's a problem with your contact details" description="Please enter your first name" />
  <CustomErrorMessage code="2073" validator="OrganisationViewModel.ContactLastName:Required" displayName="Last name" title="There's a problem with your contact details" description="Please enter your last name" />
  <CustomErrorMessage code="2074" validator="OrganisationViewModel.ContactJobTitle:Required" displayName="Job title" title="There's a problem with your contact details" description="Please enter your job title" />
  <CustomErrorMessage code="2075" validator="OrganisationViewModel.ContactOrganisation:Required" displayName="Your organisation name" title="There's a problem with your contact details" description="Please enter your organisation name" />
  <CustomErrorMessage code="2076" validator="OrganisationViewModel.ContactEmailAddress:Required" displayName="Email address" title="There's a problem with your contact details" description="Please enter your email address" />
  <CustomErrorMessage code="2077" validator="OrganisationViewModel.ContactPhoneNumber:Required" displayName="Telephone number" title="There's a problem with your contact details" description="Please enter your telephone number" />
  <CustomErrorMessage code="2078" validator="OrganisationViewModel.Name:MaxLength" displayName="Organisation name" title="There's a problem with your organisation name" description="Enter up to 100 characters" />
  <CustomErrorMessage code="2083" validator="OrganisationViewModel.ContactFirstName:MaxLength" displayName="First name" title="There's a problem with your address" description="Enter up to 50 characters" />
  <CustomErrorMessage code="2084" validator="OrganisationViewModel.ContactLastName:MaxLength" displayName="Last name" title="There's a problem with your contact details" description="Enter up to 50 characters" />
  <CustomErrorMessage code="2085" validator="OrganisationViewModel.ContactJobTitle:MaxLength" displayName="Job title" title="There's a problem with your contact details" description="Enter up to 50 characters" />
  <CustomErrorMessage code="2086" validator="OrganisationViewModel.ContactOrganisation:MaxLength" displayName="Your organisation name" title="There's a problem with your contact details" description="Enter up to 100 characters" />
  <CustomErrorMessage code="2087" validator="OrganisationViewModel.ContactEmailAddress:DataType" displayName="Email address" title="There's a problem with your contact details" description="Please enter a valid email address" />
  <CustomErrorMessage code="2088" validator="OrganisationViewModel.ContactPhoneNumber:Phone" displayName="Telephone number" title="There's a problem with your contact details" description="Please enter a valid phone number" />
  <CustomErrorMessage code="2089" validator="OrganisationViewModel.SectorType:Required" displayName="Type of organisation" title="There is a problem with your organisation type" description="Please choose your type of organisation" />
	<CustomErrorMessage code="2018" validator="ReturnViewModel.DiffMeanHourlyPayPercent:Range" displayName="Enter the difference in mean hourly rate" title="There’s a problem with your gender pay gap data" description="Please enter a percentage between -200.9 to 200.9" />
	<CustomErrorMessage code="2020" validator="ReturnViewModel.DiffMedianHourlyPercent:Range" displayName="Enter the difference in median hourly rate" title="There’s a problem with your gender pay gap data" description="Please enter a percentage between -200.9 to 200.9" />
	<CustomErrorMessage code="2022" validator="ReturnViewModel.DiffMeanBonusPercent:Range" displayName="Enter the difference in mean bonus pay" title="There’s a problem with your gender pay gap data" description="Please enter a percentage between -200.9 to 200.9" />
	<CustomErrorMessage code="2024" validator="ReturnViewModel.DiffMedianBonusPercent:Range" displayName="Enter the difference in median bonus pay" title="There’s a problem with your gender pay gap data" description="Please enter a percentage between -200.9 to 200.9" />
	<CustomErrorMessage code="2026" validator="ReturnViewModel.MaleMedianBonusPayPercent:Range" displayName="Males who received bonus pay" title="There’s a problem with your gender pay gap data" description="Please enter a percentage – this must be a positive number" />
	<CustomErrorMessage code="2028" validator="ReturnViewModel.FemaleMedianBonusPayPercent:Range" displayName="Females who received bonus pay" title="There’s a problem with your gender pay gap data" description="Please enter a percentage – this must be a positive number" />
	<CustomErrorMessage code="2030" validator="ReturnViewModel.MaleLowerPayBand:Range" displayName="Male" title="There’s a problem with your gender pay gap data" description="Please enter a percentage – this must be a positive number" />
	<CustomErrorMessage code="2032" validator="ReturnViewModel.FemaleLowerPayBand:Range" displayName="Female" title="There’s a problem with your gender pay gap data" description="Please enter a percentage – this must be a positive number" />
	<CustomErrorMessage code="2034" validator="ReturnViewModel.MaleMiddlePayBand:Range" displayName="Male" title="There’s a problem with your gender pay gap data" description="Please enter a percentage – this must be a positive number" />
	<CustomErrorMessage code="2036" validator="ReturnViewModel.FemaleMiddlePayBand:Range" displayName="Female" title="There’s a problem with your gender pay gap data" description="Please enter a percentage – this must be a positive number" />
	<CustomErrorMessage code="2038" validator="ReturnViewModel.MaleUpperPayBand:Range" displayName="Male" title="There’s a problem with your gender pay gap data" description="Please enter a percentage – this must be a positive number" />
	<CustomErrorMessage code="2040" validator="ReturnViewModel.FemaleUpperPayBand:Range" displayName="Female" title="There’s a problem with your gender pay gap data" description="Please enter a percentage – this must be a positive number" />
	<CustomErrorMessage code="2042" validator="ReturnViewModel.MaleUpperQuartilePayBand:Range" displayName="Male" title="There’s a problem with your gender pay gap data" description="Please enter a percentage – this must be a positive number" />
	<CustomErrorMessage code="2044" validator="ReturnViewModel.FemaleUpperQuartilePayBand:Range" displayName="Female" title="There’s a problem with your gender pay gap data" description="Please enter a percentage – this must be a positive number" />
	<CustomErrorMessage code="2048" validator="OrganisationViewModel.Address1:MaxLength" displayName="Address1" title="There's a problem with your address" description="Enter up to 100 characters" />
	<CustomErrorMessage code="2049" validator="OrganisationViewModel.Address2:MaxLength" displayName="Address2" title="There's a problem with your address" description="Enter up to 100 characters" />
	<CustomErrorMessage code="2050" validator="OrganisationViewModel.Address3:MaxLength" displayName="Address3" title="There's a problem with your address" description="Enter up to 100 characters" />
  <CustomErrorMessage code="2051" displayName="Male" title="There’s a problem with your gender pay gap data" description="Please try again - figures for each quartile must add up to 100%" />
  <CustomErrorMessage code="2052" displayName="Female" title="There’s a problem with your gender pay gap data" description="Please try again - figures for each quartile must add up to 100%" />
  <CustomErrorMessage code="3000" title="There's a problem with your password" description="Enter a password which doesn't contain 'password'" />
  <CustomErrorMessage code="3001" title="There's a problem with your registration" description="This email address has already been registered. Please sign in or enter a different email address." />
  <CustomErrorMessage code="3002" title="There's a problem with your registration" description="This email address being awaiting confirmation. Please enter a different email address or try again in {remainingTime}." />
  <CustomErrorMessage code="3003" title="Something’s gone wrong" description="There was a problem sending you confirmation email. Please try again." />
  <CustomErrorMessage code="3004" title="You’ve entered the wrong email verification code." description="Please try again using the correct verification code or request a new one."/>
  <CustomErrorMessage code="3005" title="There’s a problem" description="Please choose your type of organisation"/>
  <CustomErrorMessage code="3006" title="There’s a problem" description="Please enter your organisation name{orCompanyNumber}"/>
  <CustomErrorMessage code="3007" title="There’s a problem" description="Please enter between 3 and 100 characters"/>
  <CustomErrorMessage code="3008" title="Another user has already registered for this organisation." description=""/>
  <CustomErrorMessage code="3009" title="Another user is trying to register for this organisation." description="Please try again in {remainingTime}."/>
  <CustomErrorMessage code="3010" title="You don't have permission to register for this organisation." description="" />
  <CustomErrorMessage code="3011" title="There's a problem with your address" description="Please enter your address"/>
  <CustomErrorMessage code="3012" title="There's a problem with your address" description="Please enter your town or city"/>
  <CustomErrorMessage code="3013" title="There's a problem with your address" description="Please enter your post code"/>
  <CustomErrorMessage code="3014" title="Something’s gone wrong" description="There was a problem sending your PIN." callToAction="Use the button below to try again" actionUrl="/Register/pin-sent" />
  <CustomErrorMessage code="3015" title="There's a problem with your PIN" description="You've entered an incorrect PIN. Please try again."/>
  <CustomErrorMessage code="3016" title="Your email verification code has expired." description="Please request a new verification code."/>
  <CustomErrorMessage code="3017" title="This organisation was previously approved on {approvedDate}." />
  <CustomErrorMessage code="3018" title="{requestCount} other pending registration request exists for this organisation." />
  <CustomErrorMessage code="3019" title="There’s a problem" description="Please enter an employer name"/>
</CustomErrorMessages>