<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="CustomErrorMessages" type="GenderPayGap.WebUI.Classes.CustomErrorMessagesSection" />
    <section name="PublicSectorOrgs" type="GenderPayGap.WebUI.Classes.PublicSectorOrgsSection" />

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GenderPayGap.WebUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="GpgDatabase" connectionString="Data Source=(LocalDb)\ProjectsV13;Initial Catalog=GpgDatabase;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <CustomErrorMessages configSource="App_Data\CustomErrorMessages.config" />
  <PublicSectorOrgs configSource="App_Data\PublicSectorOrgs.config" />
  
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <!--<customErrors mode="RemoteOnly" defaultRedirect="~/Error.html" />-->
    <customErrors mode="Off" />

    <sessionState mode="InProc" cookieless="false" timeout="20" />

    <machineKey validationKey="ED0F0732473D8FFFA9E8FFA6C1357535E43F8125B196B3899A9D522D7B1DD8509693BC7D0F9DC436021AC699FA9B120AD0BF9060A634C4FB14BA132C0FA52E48" decryptionKey="07205A7B84D4478E6C4FA219A6BFF9C4760D10AE3B664338" validation="SHA1" decryption="AES" />
    
  </system.web>
  <system.webServer>
    <!--<httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="401" />
      <error statusCode="401" responseMode="ExecuteURL" path="/Error?code=401" />
      <remove statusCode="403" />
      <error statusCode="403" responseMode="ExecuteURL" path="/Error?code=403" />
      <remove statusCode="404" />
      <error statusCode="404" responseMode="ExecuteURL" path="/Error?code=404" />
      <remove statusCode="408" />
      <error statusCode="408" responseMode="ExecuteURL" path="/Error?code=408" />
      <remove statusCode="429" />
      <error statusCode="429" responseMode="ExecuteURL" path="/Error?code=429" />
      <remove statusCode="500" />
      <error statusCode="500" responseMode="ExecuteURL" path="/Error?code=500" />
      <remove statusCode="501" />
      <error statusCode="501" responseMode="ExecuteURL" path="/Error?code=501" />
    </httpErrors>-->
    <modules runAllManagedModulesForAllRequests="true">
      <!--<remove name="FormsAuthentication" />-->
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <applicationInitialization>
      <add initializationPage="/Home/Init" />
      <add initializationPage="/Register/Init" />
      <add initializationPage="/Submit/Init" />
    </applicationInitialization>
  </system.webServer>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="ProjectsV13" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <appSettings>

    <add key="AdminEmails" value="*@coolcorner.com;*@cadencepartnership.com;*@geo.gov.uk" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="GpgIdentityServer" value="https://localhost:44371/account/login" />
    <add key="GpgWebServer" value="https://localhost:44371/" />
    <add key="GpgWebServerRegisterLink" value="https://localhost:44371/Register" />
    <add key="GpgWebServerPasswordLink" value="https://localhost:44371/PasswordReset" />
    <add key="GpgApiScope" value="gpgApi" />
    <!--<add key="GovNotifyApiKey" value="***REMOVED***" />-->
    <add key="GovNotifyApiKey" value="alphatest2-58538018-48c7-4dcc-b33e-58492646d371-cceb2ef1-84e5-4cf4-88c3-7f70c70e5c7a" />
    <add key="GovNotifyVerifyTemplateId" value="ed3672eb-4a88-4db4-ae80-2884e5e7c68e" />
    <add key="GovNotifyConfirmTemplateId" value="cea312c0-af1d-48f8-b161-9c3c8ac6eb67" />
    <add key="GovNotifyPINTemplateId" value="3ac1b57f-9018-41ca-9ded-9f37dcc07d55" />
    <add key="GovNotifyRegistrationRequestTemplateId" value="3683b65f-9f50-44b8-ae4b-4ae1e84f1a1f" />
    <add key="GovNotifyRegistrationApprovedTemplateId" value="a349aa87-787d-4fa8-9ce4-f8e5a1b8209e" />
    <add key="GovNotifyRegistrationDeclinedTemplateId" value="43d16081-b789-4426-9b00-13f3d9f6dbea" />
    <add key="RegistrationRequestEmailAddress" value="" />
    <add key="CompaniesHouseApiServer" value="https://api.companieshouse.gov.uk" />
    <add key="CompaniesHouseApiKey" value="***REMOVED***" />
    <add key="DefaultEncryptionKey" value="" />
    <add key="TestPIN" value="A9FE5D" />
    <add key="EmailPIN" value="false" />

  </appSettings>

  <applicationSettings>
    <GenderPayGap.WebUI.Properties.Settings>
      <setting name="PinInPostExpiryDays" serializeAs="String">
        <value>14</value>
      </setting>
      <setting name="EmailVerificationExpiryHours" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="LogPath" serializeAs="String">
        <value>Logs</value>
      </setting>
      <setting name="PinInPostMinRepostDays" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="EmailVerificationMinResendHours" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="PasswordRegex" serializeAs="String">
        <value>^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[A-Za-z\d\W]{8,}$</value>
      </setting>
      <setting name="PasswordRegexError" serializeAs="String">
        <value>Password must contain at least one upper case, 1 lower case character and 1 digit</value>
      </setting>
      <setting name="MaxPinAttempts" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="MaxEmailVerifyAttempts" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="LockoutMinutes" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="PrivateAccountingDate" serializeAs="String">
        <value>2017-04-04</value>
      </setting>
      <setting name="PublicAccountingDate" serializeAs="String">
        <value>2017-04-01</value>
      </setting>
      <setting name="PINChars" serializeAs="String">
        <value>123456789ABCDEF</value>
      </setting>
      <setting name="PINLength" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="PinRegex" serializeAs="String">
        <value>^[A-Za-z0-9]{6}$</value>
      </setting>
      <setting name="PinRegexError" serializeAs="String">
        <value>PIN code must contain 6 alpha or numeric characters</value>
      </setting>
      <setting name="EmployerPageSize" serializeAs="String">
        <value>10</value>
      </setting>
    </GenderPayGap.WebUI.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.30826.1200" newVersion="4.0.30826.1200" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Host.SystemWeb" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>