<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>

    <sessionState mode="Custom" customProvider="RedisSessionStateStore" xdt:Transform="Replace">
      <providers>
        <add name="RedisSessionStateStore" type="Microsoft.Web.Redis.RedisSessionStateProvider" connectionString="REDIS_CONNECTION_STRING" applicationName="REDIS_SESSION_APPLICATION_NAME" throwOnError="true"  />
      </providers>
    </sessionState>

  </system.web>

  <appSettings>
    <add key="TestPIN" value="A9FE5D" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EmailPIN" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

</configuration>